* {
  padding:0;
  margin:0;
}

.barra {/*PASO 1*/
	background:gray;
	height:70px;
	display: flex;
	align-items: center;
	justify-content: space-between;  
}

ol,ul { /*PASO 2: reseteamos los estilos de margin/pading */
  margin:0;
  padding:0;
  list-style: none;/*quitar numeracion lista*/
}
figure{
  margin:0;
  margin-left:50px;
}

.barra a{
  color:white;
  text-decoration: none;
}/*PASO 2:------------------------------------*/
.menu{ /* PASO 3 : organizamos el nav */
  height:inherit;
  margin-right: 30px;
}

.barra ol{
  display:flex;
  height:inherit;
}

.barra ol li{
  height:inherit;
}
.barra a{
  display:flex;
  align-items:center;
  height:inherit;
  padding: 0 10px ;
}

.conteiner
{
  max-width:900px;
  margin: auto;
  /* background:yellow; */
  display: grid;
  grid-template-columns: [ini-con] 1fr [lin2] 1fr [fin-con] 1fr [final]; 
  grid-template-rows: [in-fil] 250px [fil2] 250px [fil3] 250px [fn-fil]; 
  grid-column-gap: 5px;
}

.item{
  
  background: white;
  /* border: 1px solid black; */
  /* margin: 10px; */
}

.item:nth-of-type(1) {
  grid-column: ini-con / fin-con;
  grid-row: in-fil / fn-fil;
}
.item:nth-of-type(2) {
  grid-column: fin-con / final;
  grid-row: in-fil / fil2;
}

h1 { 
	text-align: center;
	font-size: 30px;
}
.item:nth-of-type(1) section {
	margin: 15px;
	height: 130px;
}
.item:nth-of-type(1) section p {
	margin-top: 20px;
	font-size: 20px;
	line-height: 28px;
}

